@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');

.signup{
    margin-left: 61px;
    border-radius: 5px;
}

.signin-h1{
    margin-left: 100px;
    font-family: 'Caveat', cursive;
    font-size: 70px;
    color: #446FF2;
}
.signin-h2{
    margin-left: 140px;
    font-family: 'Zen Kurenaido', sans-serif;
}

.p{
    margin-left: 20px;
}