@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Nanum+Gothic&display=swap');

.touch{
    display: inline-block;
    margin-top: 280px;
    margin-left: 35%;
    font-size: 7rem;
    text-transform: uppercase;
    opacity:0;  /* make things invisible upon start */
   animation:fadeIn ease-in 1;
   animation-fill-mode:forwards;
   animation-duration:2s;
   animation-delay: 0.1s;
   color: #f5f3f3;
   font-family: 'Gowun Dodum', sans-serif;
   text-shadow: 3px 3px 8px black;
}


.landing-wrap{
    height: 100vh;
    background: url(../../image/back.png);
    background-size: cover;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
}


.landing-p{
    color: #fff;
    margin-left: 42%;
    text-shadow: 3px 3px 8px black;
    font-size: 18px;
}


@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeOut { 
    0% {
        opacity: 0;
    }

    50%{
        opacity: 100%;
    }

    100%{
        opacity: 0;
    }


}