.written-body{
    position: absolute;
    top: 50%;
    left: 50%;
}
tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
table {
    margin: 10px auto;
    width: 80vw;
    border-collapse: collapse;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    color: #eee;
    background: linear-gradient(90deg, #833ea8, #395091);
    text-align: center;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
  }
  table tr th{
    max-width: 80vw;
    height: 30px;
    font-size: 18px;
    color: #eee;
    text-align: left;
  }
  table td,
  table th {
    text-align: left;
    padding: 8px 100px;
  }
  table thead {
    background: rgba(0, 0, 0, 0.1);
    font-weight: bold;
    font-size: 14px;
    text-align: left;
  }
  table tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  table td {
    text-align: left;
    position: relative;
    font-weight: 400;
    font-size: 14px;
  }
  table td:hover::before {
    text-align: left;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: -1;
  }